---
import Cv from "@components/contact/Cv.astro";
---

<section class="section_cv">
    <h2>📄 Curriculum</h2>
    <div class="cv_container">
        <Cv />
    </div>
</section>

<style>
    .section_cv {
        color: #f8fafc;
        margin: 70px 40px 0 40px;
    }

    .cv_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 20px 120px 0 0;
    }

    @media (min-width: 768px) {
        .section_cv {
            margin: 100px 20% 50px;
        }

        .cv_container {
            margin: 20px 0 0 40px;
            justify-content: start;
        }
    }
</style>
