---

---

<button class="button_astro">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="icon_astro"
        viewBox="0 0 20 20"
    >
        <path
            fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"
        ></path>
    </svg>
    Astro
</button>

<style>
    .button_astro {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 12px 20px;
        color: #f8fafc;
        border: 1px solid #718096;
        background-color: inherit;
        gap: 8px;
    }
</style>
