---
import BaseHead from "@components/layouts/BaseHead.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<BaseHead title={title} />
	<body class="body">
		<slot />
		<style>
			.body {
				background-color: #1e293b;
			}
		</style>
	</body>
</html>
