---
import IconPdf from "../icons/pdf.svg";
---

<section class="section">
    <article class="article">
        <h2>游늯 Curriculum</h2>
        <a href="/cv.pdf" target="_blank" class="cv">
            <IconPdf class="pdf_icon" mode="sprite" />
        </a>
    </article>
</section>

<style>
    :root {
        --fondo: light-dark(#cbd5e1, #1e293b);
    }

    .section {
        top: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
        padding: 20px 50px;
        background-color: var(--fondo);
    }

    .article {
        width: 100%;
        height: 100%;
    }

    .cv {
        cursor: pointer;
        text-decoration: none;
    }

    .pdf_icon {
        width: 50px;
        height: 50px;
    }

    /* Tama침o para sm */
    @media (640px < width) {
        .article {
            padding: 0 90px;
        }
    }

    /* Tama침o para md */
    @media (768px < width) {
        .article {
            padding: 0 150px;
        }
    }

    /* Tama침o para lg */
    @media (1024px < width) {
        .article {
            padding: 0 200px;
        }
    }

    /* Tama침o para xl */
    @media (1280px < width) {
    }

    /* Tama침o para 2xl */
    @media (1536px < width) {
    }
</style>
