<header class="header">
    <h1 class="logo">Portafolio Kyoz</h1>
    <label for="menu" class="label_menu">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="svg_menu"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            ></path>
        </svg>
        <span class="span_menu">Toggle menu</span>
    </label>
    <input type="checkbox" id="menu" class="input_menu" />
    <nav class="nav">
        <ul class="ul">
            <li class="li">
                <a href="/" class="a">SOBRE MI</a>
            </li>
            <li class="li">
                <a href="/projects" class="a">PROYECTOS</a>
            </li>
            <li class="li">
                <a href="/contact" class="a">CONTACTO</a>
            </li>
            <section class="section_scheme">
                <span class="span_scheme">TEMA: </span>
                <fieldset class="fieldset_scheme">
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="light dark"
                            class="input_scheme"
                            checked
                        /><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill="currentColor"
                                d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5M12 12.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m2 0a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25"
                            ></path>
                        </svg>
                        <span class="span_menu">Toggle menu</span>
                    </label>
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="light"
                            class="input_scheme"
                        /><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <g fill="none">
                                <g
                                    fill="currentColor"
                                    clip-path="url(#siSunFill0)"
                                >
                                    <path
                                        d="M12 0a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1M0 12a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1m21-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2zm-8 10a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0zm-6.657-3.343a1 1 0 0 1 0 1.414L4.93 20.485a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0M20.485 3.515a1 1 0 0 1 0 1.414l-1.414 1.414a1 1 0 1 1-1.414-1.414l1.414-1.414a1 1 0 0 1 1.414 0m-16.97 0a1 1 0 0 1 1.414 0l1.414 1.414A1 1 0 1 1 4.93 6.343L3.515 4.93a1 1 0 0 1 0-1.414m14.142 14.141a1 1 0 0 1 1.414 0l1.414 1.414a1 1 0 1 1-1.414 1.414l-1.414-1.414a1 1 0 0 1 0-1.414M5 12a7 7 0 1 1 14 0a7 7 0 0 1-14 0"
                                    ></path>
                                </g>
                                <defs>
                                    <clipPath id="siSunFill0">
                                        <path fill="#fff" d="M0 0h24v24H0z"
                                        ></path>
                                    </clipPath>
                                </defs>
                            </g>
                        </svg>
                        <span class="span_menu">Toggle menu</span>
                    </label>
                    <label class="label_scheme">
                        <input
                            name="color-scheme"
                            type="radio"
                            value="dark"
                            class="input_scheme"
                        /><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                d="M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22C6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981"
                            ></path>
                        </svg>
                        <span class="span_menu">Toggle menu</span>
                    </label>
                </fieldset>
            </section>
        </ul>
    </nav>
</header>

<script is:inline>
    // Función para actualizar el tema en el documento y localStorage
    function updateTheme(theme) {
        // Establecer el tema en el HTML
        document.documentElement.dataset.theme = theme;
        // Guardar la preferencia en localStorage
        localStorage.setItem("theme", theme);
    }

    // Detectar cambio en la selección del tema
    const themeRadios = document.querySelectorAll('input[name="color-scheme"]');
    themeRadios.forEach((radio) => {
        radio.addEventListener("change", (event) => {
            updateTheme(event.target.value);
        });
    });

    // Recuperar y aplicar el tema guardado al cargar la página
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        updateTheme(savedTheme);
        // Marcar el radio correspondiente como seleccionado
        document.querySelector(
            `input[name="color-scheme"][value="${savedTheme}"]`,
        ).checked = true;
    }
</script>

<style>
    :root {
        --color: light-dark(#020617, #fafafa);
        --color-hover: light-dark(#b91c1c, #f87171);
        --fondo-nav: light-dark(#e2e8f0, #334155);
        --fondo-header: light-dark(#e2e8f0, #334155);
    }

    .header {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 200;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        background-color: var(--fondo-header);
    }

    .logo {
        color: var(--color);
    }

    .label_menu {
        cursor: pointer;

        &:hover {
            color: var(--color-hover);
        }
    }

    .svg_menu {
    }

    .span_menu {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .input_menu {
        display: none;
    }

    .nav {
        position: absolute;
        z-index: 100;
        top: 80px;
        display: none;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
    }

    .input_menu:checked + .nav {
        display: flex;
    }

    .ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--fondo-nav);
    }

    .button_tema {
        width: 40px;
        height: 40px;
    }

    .li {
        list-style: none;
    }

    .a {
        color: var(--color);
        text-decoration: none;

        &:hover {
            color: var(--color-hover);
        }
    }

    .section_scheme {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .span_scheme {
    }

    .fieldset_scheme {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 10px;
    }

    .label_scheme {
        cursor: pointer;

        &:hover {
            color: var(--color-hover);
        }
    }

    .input_scheme {
        position: absolute;
        visibility: hidden;
    }

    /* Tamaño para sm */
    @media (640px < width) {
    }

    /* Tamaño para md */
    @media (768px < width) {
        .header {
            justify-content: space-between;
            padding: 0 40px;
        }

        .label_menu {
            display: none;
        }

        .nav {
            position: relative;
            top: 0;
            display: flex;
            width: auto;
            height: 80px;
        }

        .ul {
            display: flex;
            flex-direction: row;
            width: auto;
            height: 80px;
            gap: 20px;
        }

        .span_scheme {
            display: none;
        }

        .label_scheme {
            display: grid;
            place-items: center;
        }
    }

    /* Tamaño para lg */
    @media (1024px < width) {
        .ul {
            gap: 40px;
        }

        .fieldset_scheme {
            gap: 20px;
        }

        .span_scheme {
            display: flex;
        }
    }

    /* Tamaño para xl */
    @media (1280px < width) {
        .ul {
            gap: 60px;
        }

        .fieldset_scheme {
            gap: 30px;
        }
    }

    /* Tamaño para 2xl */
    @media (1536px < width) {
    }
</style>
